/node_modules
/public/storage
/public/hot
/public/games
/public/vendor
/resources/views/vendor
/public/assets/tpl
/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/.env.example
/.gitattributes
*.md
docs/tasks.md
